body{
    background-color: $primary-100;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin-bottom: 0;
    letter-spacing: 0.1em;
}

p{
    margin-bottom: 0;
    letter-spacing: 0.05em;
    color: $neutral-400;
    font-weight: 600;
}
textarea{
    resize: none;
    width: 100%;
}
img{
    max-width:100%;
    height: auto;
}
a{
    text-decoration: none;
}

.anek-gurmukhi{
    font-family: "Anek Gurmukhi", sans-serif;
    font-weight: 600;
    letter-spacing: 0.2em;
  }

