<nav class="navbar navbar-expand-lg py-lg-11 py-md-0">
  <div class="container">
    <a class="navbar-brand me-11 d-none d-lg-block" href="../pages/index.html"><img  src="../assets/images/Vector.svg" alt=""></a>

    <div class="w-100 d-flex justify-content-between align-items-center d-lg-none ">
      <a class="navbar-brand d-lg-none py-7" href="#"><img style="width: 68px;height: 20px;" src="../assets/images/Vector.svg" alt=""></a>
      <a class="p-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="open"><img src="../assets/images/menu-icon.svg" alt="menu-closs"></span>
        <span class="close"><img src="../assets/images/clossMenu.svg" alt=""></span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class=" d-none d-lg-block">
        <form class="d-flex input-group rounded-pill border bg-white lg-collapsed " role="search">
          <label class="input-group-text ps-20  bg-transparent border-0 text-neutral-300" for="search">搜尋文章</label>
          <input class="form-control border-0 w-100-sm p-0" type="search" placeholder="" aria-label="Search">
          <a class="input-group-text border-0 bg-transparent bg-white " href="#"><img  src="../assets/images/search.svg" alt=""></i></a>
        </form>
      </div>
      <div class="d-lg-none"> 
        <form class="d-flex input-group bg-white rounded-pill border  mb-9 " role="search">
          <label class="input-group-text ps-20  bg-transparent border-0 text-neutral-300" for="search">搜尋文章</label>
          <input class="form-control  border-0 w-100-sm " type="search" placeholder="" aria-label="Search">
          <a class="input-group-text border-0 bg-transparent bg-white " href="#"><img  src="../assets/images/search.svg" alt=""></a>
        </form>
      </div>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-8">
        <li class="nav-item d-flex align-items-center">
          <a class="nav-link " aria-current="page" href="../pages/article-unlock.html">所有文章</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="nav-link" href="#">訂閱方案</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="nav-link" href="#">關於我們</a>
        </li>
        <li>
          <button class="btn btn-accent-200 d-none d-lg-block text-white"  type="submit">登入 <span class="px-3">/</span> 註冊</button>
          <button class="btn btn-accent-200 w-100 d-lg-none text-white" type="submit">登入 <span class="px-3">/</span> 註冊</button>
        </div> 
        </li>
      </ul>
  </div>
</nav>