<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contact</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="article">

      <section class="banner">
        <div class="container">
          <div>
            <picture>
              <source media="(max-width: 992px)" srcset="/assets/images/article-banner-sm.png">
              <img src="/assets/images/article-banner.png" width="100%" alt="article-banner">
            </picture>
          </div>
        </div>
      </section>
      <section class="content pt-12 pt-md-14 pb-md-8">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col col-md-8">
              <nav aria-label="breadcrumb ">
                <ol class="breadcrumb py-5 mb-2 mb-md-8 ">
                  <li class="breadcrumb-item"><a class="text-neutral-400 fs-9 fs-md-6" href="#">首頁</a></li>
                  <li class="breadcrumb-item"><a class="text-neutral-400 fs-9 fs-md-6" href="#">所有文章</a></li>
                  <li class="breadcrumb-item active text-accent-200 fs-9 fs-md-6 " aria-current="page">私人島嶼的露營奇遇記</li>
                </ol>
              </nav>
              <div>
                <h4 class="mb-3 mb-md-7 fs-md-1">私人島嶼的露營奇遇記</h4>
                <time class="text-accent-300" datetime="">2024 / 5 / 1</time>
              </div>
              <div class="py-9 pt-md-12 pb-md-8">
                <div>
                  <p>嗨！我是秘境尋蹤小編 Elly，很高興能與你分享我這段令人心曠神怡的旅程。這不僅僅是一次旅行，更是一場對自然、對內心的深度體悟，一次重新與大自然連結的奇妙旅程。希望透過我的分享，你也能感受到這份自然之美，並找到一份屬於自己的心靈寧靜。<br><br>這段旅程的開始，是從一個遙遠的小島。我對於這片土地的認識，僅止於一些遊記和照片，對於它的神秘感與未知感讓我充滿了好奇。一艘小船，帶著我穿越海浪，穿過風暴，終於抵達了這片被大自然雕琢的寶地。當我踏上這片島嶼的那一刻，心中充滿了震撼與喜悅。</p>
                </div>
                <div class="mt-8 artical-img position-relative">
                  <picture >
                    <source media="(max-width: 992px)" srcset="/assets/images/content-1-sm.png">
                    <img  src="/assets/images/content-1.png" width="100%" alt="article-banner">
                  </picture>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="exclusive">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col col-md-8">
              <div class="d-flex justify-content-center w-100">
                <div>
                  <div class="text-center d-md-flex">
                    <h6 class="mb-2 mb-md-7">本篇為會員專屬文章</h6>
                    <h6 class="d-none d-md-block">，</h6>
                    <h6 class="mb-5 ,b-md-0">馬上訂閱瀏覽所有內容！</h6>
                  </div>
                  <div class="w-100 d-flex justify-content-center ">
                    <button class="align-self-center btn btn-accent-200 text-white d-md-none" type="button">我要訂閱<span class="ms-5"><i class="bi bi-arrow-right"></i></span></button>
                    <button class="align-self-center btn btn-lg btn-accent-200 text-white d-none d-md-block" type="button">我要訂閱<span class="ms-5"><i class="bi bi-arrow-right"></i></span></button>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="extended-read-sm py-13 py-md-14  d-md-none">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col">
              <h4 class="mb-9">延伸閱讀</h4>
              <div class="swiper easwiper  EaSwiper">
                <div class="swiper-wrapper">
  
                  <div class="swiper-slide">
                    <div class="card shadow-sm border-0 border-bottom rounded-bottom-0">
                      <div class="card-body p-0">
                        <div class="text-neutral-500 fw-semibold ">   
                          <img src="../assets/images/read-1-sm.png" class="card-img-top" alt="read-1-sm">
                          <h5 class="card-title mt-7 mb-3">私人島嶼的露營奇遇記</h5>
                          <p class="fs-6 text-neutral-400">遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜...</p>
                        </div> 
                        <div class="d-flex justify-content-end mt-5 mb-9 ">
                          <a href="#" class="py-4 h4 text-accent-200 ">Read More</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="swiper-slide">
                    <div class="card shadow-sm border-0 border-bottom rounded-bottom-0">
                      <div class="card-body p-0">
                        <div class="text-neutral-500 fw-semibold ">   
                          <img src="../assets/images/read-2-sm.png" class="card-img-top" alt="read-2-sm">
                          <h5 class="card-title mt-7 mb-3">城市野營日記</h5>
                          <p class="fs-6 text-neutral-400">終於!我實現了一個看似瘋狂的想法—在熟悉的城市裡野營一晚。說實話,一開始我也有點懷疑自己,畢竟眾目睽睽之下搭帳篷實在有點怪異。不過漸漸地,這股初時的侷促不安...</p>
                        </div> 
                        <div class="d-flex justify-content-end mt-5 mb-9 ">
                          <a href="#" class="py-4 h4 text-accent-200 ">Read More</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="swiper-slide">
                    <div class="card shadow-sm border-0 border-bottom rounded-bottom-0">
                      <div class="card-body p-0">
                        <div class="text-neutral-500 fw-semibold ">   
                          <img src="../assets/images/read-3-sm.png" class="card-img-top" alt="...">
                          <h5 class="card-title mt-7 mb-3">和寵物去露營 - 大自然之旅的...</h5>
                          <p class="fs-6 text-neutral-400">說實話,一開始我有點擔心帶著我的狗狗露營會不會太麻煩。畢竟要照顧牠的飲食起居,還得注意牠的安全。不過這次經驗讓我徹底改觀了!出發前,我特意為狗狗準備了適當的...</p>
                        </div> 
                        <div class="d-flex justify-content-end mt-5 mb-9 ">
                          <a href="#" class="py-4 h4 text-accent-200 ">Read More</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  
  
                  
                </div>
              </div>
          </div>
      </section>
   
      <section class="extended-read-lg py-15 d-none d-md-block">
        <div class="container">
          <div class="row justify-content-center gy-12">
            <div class="col col-md-8">
              <div class="card mb-3 border-0 border-bottom rounded-0 bg-primary-100" >
                <div class="row g-9">
                  <div class="col-md-3 mb-9">
                    <img src="../assets/images/read-1.png" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-9"> 
                    <div class="card-body p-0">
                      <h5 class="card-title">週末說走就走露營記</h5>
                      <p class="card-text text-neutral-400 fw-semibold">遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜...</p>
                      <div class="d-flex justify-content-end mt-8 ">
                        <a href="#" class="py-4 h5 text-accent-200 fw-bold">Read More</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col col-md-8">
              <div class="card mb-3 border-0 border-bottom rounded-0 bg-primary-100" >
                <div class="row g-9">
                  <div class="col-md-3 mb-9">
                    <img src="../assets/images/read-2.png" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-9"> 
                    <div class="card-body p-0">
                      <h5 class="card-title">城市野營日記</h5>
                      <p class="card-text text-neutral-400 fw-semibold">終於!我實現了一個看似瘋狂的想法—在熟悉的城市裡野營一晚。說實話,一開始我也有點懷疑自己,畢竟眾目睽睽之下搭帳篷實在有點怪異。不過漸漸地,這股初時的侷促不...</p>
                      <div class="d-flex justify-content-end mt-8 ">
                        <a href="#" class="py-4 h5 text-accent-200 fw-bold">Read More</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col col-md-8">
              <div class="card mb-3 border-0 border-bottom rounded-0 bg-primary-100" >
                <div class="row g-0">
                  <div class="col-md-3 mb-9">
                    <img src="../assets/images/read-3.png" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-9"> 
                    <div class="card-body p-0">
                      <h5 class="card-title">和寵物去露營 - 大自然之旅的雙倍體驗</h5>
                      <p class="card-text text-neutral-400 fw-semibold">說實話,一開始我有點擔心帶著我的狗狗露營會不會太麻煩。畢竟要照顧牠的飲食起居,還得注意牠的安全。不過這次經驗讓我徹底改觀了!出發前,我特意為狗狗準備了適當...</p>
                      <div class="d-flex justify-content-end mt-8 ">
                        <a href="#" class="py-4 h5 text-accent-200 fw-bold">Read More</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
  
  
          </div>
          
        </div>
      </section>
   
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
